@tailwind base;
@tailwind components;
@tailwind utilities;

.pfp{
    width: 50px; /* Adjust as needed */
    height: auto; /* This maintains aspect ratio */
}

.Googlelogo{
    width: 300px; /* Adjust as needed */
    height: auto; /* This maintains aspect ratio */
}

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.home__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    padding-top: 10px;
}

.home__header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}

.home__header a:hover {
    text-decoration: underline;
}

.home__headerRight {
    display: flex;
    align-items: center;
    min-width: 13vw;
    /* justify-content: space-between; */
}

.home__headerRight > .MuiSvgIcon-root {
    margin-right: 20px;
}

.home__body {
    flex: 1;
    display: flex;
    margin-top: 9%;
    flex-direction: column;
}

.google__logo {
    object-fit: contain;
    width: 150px;
    height: 100px;
    transform: scale(2.65);
    margin-bottom: 10px;
}

.home__body > img {
    object-fit: contain;
}

.google__credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 132, 234);
    font-size: 10px;
    margin-left: 140px;
    margin-bottom: 20px;
}
